.PageNav {
  background-color: rgb(227, 239, 245);
  color: rgb(0, 74, 124);
}

ul {
    list-style-type: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

ul > li {
    -webkit-flex: 1 1 33%;
    flex: 1 1 33%;
    white-space: nowrap;
}
